@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.logo {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.img-container::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.img-container{
  user-select: none;
}
/* category links css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

